<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/img/ananaLogo.png}" href="../static/img/ananaLogo.png" rel="shortcut icon" type="image/x-icon">
    <title>BITCOIN</title>
    <link th:href="@{css/bootstrap.min.css}"  href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{css/user_btc.css}"  href="../static/css/user_btc.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/home}" href="/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/dolar}" href="/dolar">Dolar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/bitcoin}" href="/bitcoin">Bitcoin</a>
            </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0" th:action="@{/logout}" method="post">
            <button class="btn btn-danger ml-5" type="submit">Cerrar Sesión</button>
        </form>
    </div>
</nav>
<br><br><br>
<div class="mt-2">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Caja Ahorro Pesos</h4>
            </div>
            <div class="card-body">
                <h1 id="cajaPeso" class="card-title pricing-card-title" th:text="${'$ ' + cajaPeso}"></h1>
            </div>
        </div>
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Billetera Bitcoin</h4>
            </div>
            <div class="card-body">
                <h1 id="cajaBtc" class="card-title pricing-card-title" th:text="${cajaBtc + ' btc'}"></h1>
            </div>
        </div>
    </div>
    <div class="card-deck mb-3 text-center">
        <form class="card mb-4 shadow-sm" th:action="@{/compraBtc}" th:object="${btcForm}" action="#" method="post">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Venta</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title" id="compra"></h1>
                <small class="text-muted">(1 btc) / Comision del 1% por compra</small>
                <input min="0" oninput="amountCompra()" th:field="*{aComprar}" id="inCompra" autofocus type="number"
                       class="form-control mb-5 mt-3" placeholder="Ingrese cantidad bitcoins a comprar">
                <button type="submit" class="btn btn-lg btn-block btn-primary">Comprar !</button>
<!--                <p th:if="${compraInsuficiente}" th:text="${compraInsuficiente}" class="alert alert-danger"></p>-->
<!--                <p th:if="${exitoCompra}" th:text="${exitoCompra}" class="alert alert-success"></p>-->
                <p id="maximoCompra" hidden="true" class="alert alert-warning"></p>
            </div>
        </form>
        <form class="card mb-4 shadow-sm" th:action="@{/ventaBtc}" th:object="${btcForm}" action="#" method="post">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Compra</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title" id="venta"></h1>
                <small class="text-muted">(1 btc) / Comision del 1% por venta</small>
                <input oninput="amountVenta()" th:field="*{aVender}"  min="0" type="number" id="inVenta"
                       class="form-control mb-5 mt-3" placeholder="Ingrese cantidad bitcoins a vender">
                <button type="submit" class="btn btn-lg btn-block btn-primary">Vender !</button>
<!--                <p th:if="${ventaInsuficiente}" th:text="${ventaInsuficiente}" class="alert alert-danger"></p>-->
<!--                <p th:if="${exitoVenta}" th:text="${exitoVenta}" class="alert alert-success"></p>-->
                <p id="maximoVenta" hidden="true" class="alert alert-warning"></p>
            </div>
        </form>
    </div>
</div>
</body>
<script th:src="@{js/user_btc.js}" src="../static/js/user_btc.js"></script>
</html>