<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/img/ananaLogo.png}" href="../static/img/ananaLogo.png" rel="shortcut icon" type="image/x-icon">
    <title>USER HOME</title>
    <link th:href="@{css/bootstrap.min.css}"  href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{css/user_home.css}"  href="../static/css/user_home.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/home}" href="/home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/dolar}" href="/dolar">Dolar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/bitcoin}" href="/bitcoin">Bitcoin</a>
            </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0" th:action="@{/logout}" method="post">
            <button class="btn btn-danger ml-5" type="submit">Cerrar Sesión</button>
        </form>
    </div>
</nav>
<main>
    <div class="jumbotron">
        <div th:switch="${info.gender.name()}">
            <h1 th:case="'MALE'" class="display-4">Bienvenido [[${info.name}]] !</h1>
            <h1 th:case="'FEMALE'" class="display-4">Bienvenida [[${info.name}]] !</h1>
            <h1 th:case="'OTHER'" class="display-4">Bienvenide [[${info.name}]] !</h1>
        </div>
    </div>
    <div class="row">
        <div class="card col-4" style="width: 18rem;" th:each="acc : ${accounts}">
            <div class="card-body" th:if="${acc.getType().toString()} == 'CAJA_AHORRO_PESOS'">
                <h3 class="card-title">Caja de Ahorro Pesos</h3>
                <h4 class="card-subtitle mb-2" th:text="'$ ' + ${acc.getAmount()}"></h4>
                <p class="card-text">Sin costo mensual</p>
            </div>
            <div class="card-body" th:if="${acc.getType().toString()} == 'CAJA_AHORRO_DOLARES'">
                <h3 class="card-title">Caja de Ahorro Dolares</h3>
                <h4 class="card-subtitle mb-2" th:text="'US$ ' + ${acc.getAmount()}"></h4>
                <p class="card-text">Sin costo mensual. Comision del 1% por transaccion</p>
            </div>
            <div class="card-body" th:if="${acc.getType().toString()} == 'CUENTA_CORRIENTE_PESOS'">
                <h3 class="card-title">Cuenta Corriente Pesos</h3>
                <h4 class="card-subtitle mb-2" th:text="'$ ' + ${acc.getAmount()}"></h4>
                <p class="card-text">Costo mensual: $500</p>
            </div>
            <div class="card-body" th:if="${acc.getType().toString()} == 'CUENTA_CORRIENTE_DOLARES'">
                <h3 class="card-title">Cuenta Corriente Dolares</h3>
                <h4 class="card-subtitle mb-2" th:text="'US$ ' + ${acc.getAmount()}"></h4>
                <p class="card-text">Costo mensualL $1000</p>
            </div>
            <div class="card-body" th:if="${acc.getType().toString()} == 'BILLETERA_BITCOIN'">
                <h3 class="card-title">Billetera Bitcoin</h3>
                <h4 class="card-subtitle mb-2" th:text="${acc.getAmount()} + ' btc'"></h4>
                <p class="card-text">Sin costo mensual. Comision del 1% por transaccion</p>
            </div>
        </div>
    </div>
    <br>
</main>
</body>
</html>